<div class="login-block">
    <div class="container">
		<div class="row">
			<div class="col-md-4 login-sec">
				<div [hidden]="formType != 'login'">
			    	<h2 class="text-center">Login Now</h2>
			   		<form class="login-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
	  					<div class="form-group">
						    <label for="name">Username</label>
						    <input name="name" type="text" class="form-control" placeholder=""
						    [(ngModel)]="loginForm.name" name="name" #name="ngModel">
					    </div>
	  					<div class="form-group">
						    <label for="password">Password</label>
						    <input type="password" class="form-control" placeholder=""
						    [(ngModel)]="loginForm.password" name="password" #password="ngModel">
						</div>
	  		
					    <div class="form-check">
					    	<button type="submit" class="btn btn-login float-left">Submit</button>
					   	</div>
					</form>
					<div class="copy-text">Doesn't have an account? <a (click)="setForm('signin')">Please Sign up</a></div>
				</div>
				<div [hidden]="formType != 'signin'">
					<h2 class="text-center">Register Now</h2>
					<form class="login-form" #accountForm="ngForm" (ngSubmit)="onSubmit()">
						<div class="form-group">
							<label for="name">Username</label>
							<input type="text" class="form-control" id="name" required 
							[(ngModel)]="signin.name" name="name" #name="ngModel">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="text" class="form-control" id="password" required
							[(ngModel)]="signin.password" name="password" #password="ngModel">
						</div>

						<div class="form-group">
							<label for="confirm-password">Confirm your password</label>
							<input type="text" class="form-control" id="confirm-password" required
							[(ngModel)]="signin.confirm_password" name="confirm_password"
							#confirm_password="ngModel">
						</div>

						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" id="email" required
							[(ngModel)]="signin.email" name="email"
							#email="ngModel">
						</div>
						 <div class="form-check">
						 	<button type="submit" class="btn btn-login float-left">Create Account</button>
						</div>
						<div class="copy-text">Already have an account? <a (click)="setForm('login')">Please Login</a></div>
					</form>
				</div>
			</div>
			<div class="col-md-8 banner-sec">
            	<div class="banner-text">
	    			<h2>OTs Account Manager</h2>
	    			<p>Create accounts, characters and edit your char, no more editions with phpMyAdmin!</p>
	  			</div>
			</div>
		</div>
	</div>
</div>

<div [hidden]="true" class="container">
	
	<div [hidden]="!submitted">
		<h1>Thank You for registering!</h1>
		<h4>We send a mail to {{signin.email}}. You need to active your account before login.</h4>
		<br>
		<button type="button" class="btn btn-primary">Back</button>
	</div>
</div>