body {
  height: 100%;
  background: #AEE239;
}
form input:focus {
  border-left: 5px solid #66afe9 !important; /* blue */ 
}
.ng-valid[required], .ng-pristine[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form):not(.ng-untouched)  {
  border-left: 5px solid #a94442; /* red */
}
a {cursor: pointer}

@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.login-block{
    background: #40C0CB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #40C0CB, #AEE239);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #40C0CB, #AEE239); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    padding: 50px 0;
}
.login-sec{padding: 30px 30px 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#8FBE00;}
.login-sec .copy-text a{color:#8FBE00;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #00A8C6;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#40C0CB; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}

.btn-login {background: #AEE239; color:#fff; font-weight:600;}
.btn-login:hover {background: #8FBE00; color:#fff; font-weight:600;}
.container {background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.banner-sec {background:url(http://i.imgur.com/1shsgxX.jpg)  no-repeat left top; background-size:cover; min-height:520px; border-radius: 0 10px 10px 0;}
.banner-text {width:70%; position:absolute; bottom:40px; padding-left:20px; background-color: rgba(0,0,0,0.8)}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}
